{% extends 'users/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="container mt-5">
    <h2>Вхід</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <br>
        <button type="submit" class="btn btn-primary">Увійти</button>
    </form>

    <div class="mt-3">
        <p>Немає акаунту? <a href="{% url 'register' %}">Зареєструйтесь</a></p>
        <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
    </div>
</div>
{% endblock %}
