{% extends 'base.html' %}

{% block title %}
Download Report
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Download Report</h1>

        <form method="post" action="{% url 'download_report' %}" class="mb-4">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Скрытые поля для передачи name и year -->
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="year" value="{{ year }}">

            <button type="submit" name="view_groups" class="btn btn-primary">View Groups</button>
        </form>

        {% if groups %}
        <h3>Select Groups:</h3>
        <form method="post" action="{% url 'download_report' %}" class="mb-4">
            {% csrf_token %}
            <select class="selectpicker" name="groups" multiple data-live-search="true">
                <!-- Проверяем, есть ли группы для выбора -->
                {% for group in groups %}
                    <option value="{{ group }}">{{ group }}</option>
                {% endfor %}
            </select>

            <!-- Скрытые поля для передачи name и year -->
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="year" value="{{ year }}">

            <button type="submit" name="download_report" class="btn btn-success mt-2">Download Report</button>
        </form>
        {% endif %}

        {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block additional_scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $(document).ready(function(){
        $('.selectpicker').selectpicker();
    });
</script>
{% endblock %}
